body {
    /* font-family: Arial, Helvetica, sans-serif; */
    font-family: 'Mali', cursive;
}

#wrapper {
    max-width: 940px;
    margin: 0 auto;
    padding: 0 5%;
}

#game {
    position: relative;
    width: 640px;
    height: 480px;
    background-color: black;
    text-align: center;
    padding: 10px;
    padding-top: 25px;
}

#score_panel {
    margin-top: 100px;
    width: 640px;
    height: 30px;
    padding-top: 25px;
}

#score_player1 {
    /* left: 1500px; */
    top: 50px;
    background-color: greenyellow;
    margin-top: 30px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 25px;
    padding-left: 25px;
    margin-right: 10px;

}

#score_player2 {
    left: 0px;
    top: 50px;
    background-color: blue;
    color: white;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 40px;
    padding-left: 40px;
    margin-left: 10px;
}

#player,
#bot {
    border-radius: 3px;
}

#player {
    background-color: greenyellow;

}

#bot {
    background-color: blue;
}

#ball {
    background-color: red;
    border-radius: 50%;
}

/********************************************************
FOOTER
********************************************************/

footer {
    font-size: 0.75em;
    text-align: center;
    clear: both;
    padding-top: 25;
    color: #ccc;
}

.social-icon {
    width: 20px;
    height: 20px;
    margin: 0 5px;
}

/* * { border: 1px solid red; } */